/* Dilshan Yapa S Y C T it23366572 */

footer{
    background-color: #24252A;
    display: flex;
    margin-top: auto;
    justify-content: center;
}
.footerContainer .rights span {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #aaaaaad1;
    font-weight: 400;
    margin-bottom: 10px;
}
.footerContainer .FooterLogo {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.FooterLogo {
    height: 160px;
    align-items: center;
}

.FooterLogo img {
	cursor: pointer;
}
.footerContainer .FooterNav {
    margin: 10px 0px 10px 0px;
}

.FooterNav a {
    color: #f2f2f2;
    text-decoration: none;
}

.subscribeMail , .subscribeMail form span {
    display: flex;
    justify-content: center;
    color:#ac9f9fc2;
}

.subscribeMail form input {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 5px;
}
.subscribeMail form input[type=submit] {
    cursor: pointer;
    background-color: rgb(26, 84, 26, 0.9);
}
.subscribeMail form input[type=submit]:hover {
    background-color: rgb(26, 84, 26, 0.8);
}
.subscribeMail form input[type=submit]:active {
    background-color: rgb(26, 84, 26, 1);
}