footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: auto;
    justify-content: space-evenly;
}

footer .footerT{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin:0 0 8px 0;
    color: #ffffff;
    
}
#footerTopics, .subscribeMail , .subscribeMail form span {
    font-size: 16px;
    margin:0 0 8px 0;
    color: #ffffff;
    font-weight: 700;

}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 10px;
}

footer.follow{
    margin-top: 20px;

}

footer .follow i{
    color:#ffffff;
    padding-right:4px;
    cursor:pointer;
}

footer .install .row img{
    border:1px solid #ffffff;
    border-radius: 6px;

}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color:#ebeb00;

}

.section-p1 {
    padding: 40px 80px;
  }

#logo{
    height: 100px;
}
.subscribeMail{
display: flex;
flex-direction: column;
width: 100%;
}

.subscribeMail , .subscribeMail form span {
    display: flex;
    color:rgb(255, 255, 255)
}

.subscribeMail form input {
    height: 3.125rem;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
}
.subscribeMail form input[type=submit] {
    margin-top: 10px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 157, 0, 1);
    transition: all 0.1 ease;
}
.subscribeMail form input[type=submit]:hover {
    background-color: rgba(255, 157, 0, 0.8);
}
.subscribeMail form input[type=submit]:active {
    transform: scale(0.95);
}