/* Dilshan Yapa it23366572 */
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    color:blueviolet;
    text-align: center;
    margin: 5px 0px 20px 0px;
}

.body-content{
    margin: 0px 5% 0px 5%;
  }