/* Dilshan Yapa S Y C T it23366572 */
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
*{
    box-sizing: border-box;
	margin: 0;
    padding: 0;
	border: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    background-color: #ECECF2;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
    color:rgb(53, 23, 80);
    text-align: center;
    margin: 5px 0px 50px 0px;
}
h1 {
    font-size: 50px;
    line-height: 64px;
}

h2 {
    font-size: 46px;
    line-height: 54px;
}

h4 {
    font-size: 20px;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

.body-content{
    margin: 0px 5% 5% 5%;
}