/* Dilshan Yapa S Y C T  */

@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap');

header{
	display: flex;
	justify-content: flex-end;
	background-color: #24252A;
	align-items: center;
	padding: 1px 15px 2px 2px;
}

a {
	text-decoration: none;
}

header > nav > ul > li , header > nav > ul > li > a , header > a >  button {
	font-family: "Montserrat",sans-serif ;
	font-weight: 500;
	font-size: 16px;
	color:#edf0f1;
	text-decoration: none;
}

header > .logoLink {
	margin-right: auto;
}
.headerlogo {
	height: 100px;
	margin-right: auto;
	cursor: pointer;
}

.navigation_links{
	list-style: none;
}
.navigation_links > li {
	display:inline-block;
	padding: 0px 20px;
}

.navigation_links > li > a {
	transition: all 0.3s ease 0s;
}

.navigation_links > li > a:hover {
	color: #0088A9;
}

header > a > button{
	padding: 9px 25px;
	margin: 0px 5px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

header > a > button:hover{
	background-color: rgba(0,136,169,0.5);
}
.headerUserBtns > a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
#signupbtn {
	background-color: rgba(255,69,0,0.7);
}

#signupbtn:hover {
	background-color: rgba(255, 68, 0, 0.8);
}

#signupbtn:active {
	background-color: rgba(255, 68, 0, 1);
}
header  a{
	display: flex;
	align-items: center;
}
header  a label{
	font-family: "Kanit", sans-serif;
	color: #fff;
	font-weight: 500;
	font-size: large;
}

#userbtnimg {
	width: 50px;
	margin-right: 10px;
	cursor: pointer;
}
