/* Dilshan Yapa S Y C T it23366572 */

@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

header > nav > ul > li , header > nav > ul > li > a , header > a >  button {
	font-family: "Montserrat",sans-serif ;
	font-weight: 500;
	font-size: 16px;
	color:#edf0f1;
	text-decoration: none;
}

header{
	display: flex;
	justify-content: flex-end;
	background-color: #24252A;
	align-items: center;
	padding: 1px 15px 2px 2px;
}
header > .logoLink {
	margin-right: auto;
}
.headerlogo {
	height: 100px;
	margin-right: auto;
	cursor: pointer;
}

.navigation_links{
	list-style: none;
}
.navigation_links > li {
	display:inline-block;
	padding: 0px 20px;
}

.navigation_links > li > a {
	transition: all 0.3s ease 0s;
}

.navigation_links > li > a:hover {
	color: #0088A9;
}

header > a > button{
	padding: 9px 25px;
	margin: 0px 5px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

header > a > button:hover{
	background-color: rgba(0,136,169,0.5);
}

#signupbtn {
	background-color: rgba(255,69,0,0.7);
}

#signupbtn:hover {
	background-color: rgba(255, 68, 0, 0.8);
}

#signupbtn:active {
	background-color: rgba(255, 68, 0, 1);
}
