/* Dilshan Yapa it23366572 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap');

* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
mySlides fade > img {
    width : 100%;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.SearchFlightsForm {
  position: relative;
  bottom: 90px;
  max-width: 700px;
  width: 100%;
  border-radius: 6px;
  padding: 10px 30px 10px 30px;
  margin: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.form-elements{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
}
.SearchFlightsForm > span {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: large;
}

.form-elements > input,select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  height: 42px;
  width:calc(100% / 3 - 15px);
}

.form-elements > input:is(:focus, :valid),select:is(:focus, :valid) {
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.form-elements > input:hover,select:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.form-submittion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-submittion #TripType1, #TripType2{
  position: relative;
  margin-right: auto;
  margin: 0px 10px 0px 10px;
}

.form-submittion > #Search {
  border: 1px solid #aaa; 
  border-radius: 10px;
  background-color:rgba(4, 4, 172, 0.8);
  color: #f2f2f2;
  height: 40px;
  width: 80px;
}

.form-submittion > #Search:hover {
  background-color: rgba(4, 4, 172, 0.9);
}
.form-submittion > #Search:active {
  background-color: rgba(4, 4, 172, 1);
}