/* Januda Silunaka it23365346 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.SearchFlightsForm {
  position: relative;
  bottom: 20px;
  max-width: 900px;
  width: 100%;
  height: 400px;
  border-radius: 6px;
  padding: 10px 30px 10px 30px;
  margin: 140px 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.form-elements{  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
}

.SearchFlightsForm > span {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: large;
}

.form-elements > input,select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  height: 42px;
  width:calc(100% / 3 - 15px);
  cursor: pointer;
  padding-left: 5px;

}

.form-elements > input:is(:focus, :valid),select:is(:focus, :valid) {
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.form-elements > input:hover,select:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.form-submittion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-submittion #TripType1, #TripType2{
  position: relative;
  margin-right: auto;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}

.form-submittion > #Search {
  border: 1px solid #aaa; 
  border-radius: 10px;
  background-color:rgba(0, 234, 255, 0.8);
  color: #000000;
  height: 40px;
  width: 80px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.form-submittion > #Search:hover {
  background-color: rgba(149, 237, 255, 0.9);
}
.form-submittion > #Search:active {
  background-color: rgba(4, 4, 172, 1);
}


/*januda */


body {
  width: 100%;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}


.pflights {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 22px; /* gap between grid items */
  padding: 40px 80px
}



#flights{
  text-align: center;

}

#flights .flightList{

  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#flights .flightDetails{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border:1px solid #e8e1e1;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#flights .flightDetails:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
 
}

#flights .flightDetails img{
  width: 100%;
  border-radius: 20px;
}

#flights .flightDetails .flightName{
  text-align: start;
  padding: 10px 0;
}

#flights .flightDetails .flightName span {
  color: #606063;
  font-size: 15px;
  display: block;
  margin: 0 auto;
  text-align: center; 
}


#flights .flightDetails .flightName h5{
  padding-top: 7px;
  color:#1a1a1a;
  font-size: 24px;
}

#flights .flightDetails .flightName i{
  font-size: 12px;
  color: rgb(243,181,25);
}



.bookNow > button{
  padding: 5px;
  color: black;
  height: 50px;
  background-color: rgb(0, 157, 242);
  border-radius: 5px;
  font-size: larger;
  font-weight: 500;
  width: 100%;
  border: 1px solid rgb(86, 194, 249);
}
.bookNow > button:hover{
  background-color: rgb(72, 175, 238);
  color: white;

}



/*owl carasoul */

.check {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
}


.vas {
  max-width: 1100px;
  width: 100%;
  position: relative;
 
}

/* Styling arrows */
.vas i {
  top: 50%; 
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem; 
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #00b7ff;
  border-radius: 50%; 
  box-shadow: 0 3px 6px rgba(0,0,0,0.23); /* Shadow effect */
  transform: translateY(-50%); 
 
}


.vas i:first-child {
  left: -22px; /* Positioning the left icon */
}


.vas i:last-child {
  right: -22px; 
}

/* Styling for the carousel container */
.vas .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px); /*  width for grid */
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  gap: 16px; 
  border-radius: 10px; 
  scroll-behavior: smooth;
  scrollbar-width: none; 
  height: 500px;
  
  
}

.carousel::-webkit-scrollbar {
    display: none;
  }
.carousel.no-transition {
    scroll-behavior: auto;
  }
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
.carousel.dragging .vservice {
    cursor: grab;
    user-select: none;
  }

/* Styling card and imagesl */
.carousel :where(.vservice, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

/* Styling for each card within the carousel */
.carousel .vservice {
  scroll-snap-align: start;
  height: 450px; 
  list-style: none;
  background: #fdf7f7; 
  cursor: pointer;
  padding-bottom: 15px; 
  flex-direction: column; 
  border-radius: 8px; 
}

/* image container in the each card */
.carousel .vservice .img {
  background: #fdf7f7; 
  height: 300px; 
  width: 100%;
}

/* Styling for the image element inside the image container */
.vservice .img img {
  width: 250px; 
  height: 250px; 
  margin: 5px;

}

/* Styling for heading within each card */
.carousel .vservice h2 {
  font-weight: 500; /* Font weight of heading */
  font-size: 18px; /* Font size of heading */
  align-items: center;
  
}

/* Styling for text content within each card */
.carousel .vservice span {
  color: #000000; 
  font-size: 15px; 
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}
.owlCbutton{
  margin-top: 13px;
  padding: 5px;
  color: black;
  height: 50px;
  background-color: #00b7ff;
  border-radius: 10px;
  font-size: larger;
  font-weight: 500;
  width: 80%;
  border: 1px solid rgb(40, 163, 239);
}

.owlCbutton:hover{
    background-color: rgb(23, 13, 160);
    color: white;
  }

/*go to top*/
#toTopBtn {
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:rgb(0, 175, 244) ;
  color: rgb(247, 247, 247);
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

#toTopBtn:hover {
  background-color: #555;
}

.searchResults {
  margin-top: 40px;
  display: flex; 
  flex-wrap: nowrap; 
  font-size: 17px;
  font-weight: 900;
  background-color: #00eaff;
  padding: 20px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
}

.result{
  display: inline-block;
  margin-right: 80px;
}
.airportName{
  display: inline-block;
  margin-right: 250px;
}
#resultdatetime {
  display: inline-block;
 
}

#bookNow {
  margin-top: 10px;
  margin-left: 740px;
  border: 1px solid #00ccff; 
  font-weight: 500;
  font-size: 15px;
  padding: 5px 7px 7px 5px;
  border-radius: 10px;
  background-color:rgba(0, 200, 255, 0.8);
  color: #000000;
  height: 40px;
  width: 100px;
  cursor: pointer;
}

#bookNow:hover{
  background-color:rgba(0, 255, 213, 0.8);
  border: 1px solid #01f7e2; 
}
