/*N H D DILHARA IT23349438 */

.content-data {
    max-width: calc(100% - 320px);
}

.content {
    margin-top: 30px;
    max-width: 100%;
}
.header {
    text-align: center;
}
.header span {
    opacity: 0.7;
    font-weight: 500;
}

.card{
    width: calc(100% / 3);
    display: inline-block;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 40px 25px;
    box-shadow: 3px 3px 10px black;

}

.card:hover{
    box-shadow: 3px 3px 10px gray;
}

.image img{
    width: 100%;
    border-radius: 10px;
}
.titile{
    text-align: center;
    font-weight: bold;
}

.description{
    text-align: center;
    font-weight: 100;
    padding: 4px;
}

button{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(40, 158, 243);
    border: 1px rgb(40, 158, 243);
    padding: 10px;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(16, 63, 235);
    color: white;
}

.cardRow {
    display: flex;
    justify-content: space-evenly;
}