/*-- IT23365346
BJS PERERA --*/

body{
    font-family: 'Montserrat', sans-serif;
}
.basics, .manageUsers{
    display: flex; 
    justify-content: space-around;
   
}

.content {
    margin-top: 30px;
}

.basics > div {
    display: inline-block;
    background-color:#ffffff; 
    border:5px solid rgb(0, 179, 255);
    border-radius: 30px;
    
    flex: 1; 
    text-align: center; 
    margin: 20px; 
    padding: 40px;
    font-size: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.manageUsers{
    margin-top: 40px;
    padding: 10px;
}
.addmem > button{
    background-color: #2e7d32;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
    color: white;
    border-color: #2e7d32;
    cursor: pointer;
    position: relative;
    right: -180px;
    font-weight: bold;
}
.removemem > button{
    background-color: #f53703;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    color: white;
    border-color: #ff0000;
    cursor: pointer;
}
.addmem > button:hover{
    background-color: #2bb432;
}
.removemem > button:hover{
    background-color: #fd6e46;
}
#searchInput {
    padding: 10px;
    width: 60%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.userlistJ{
    padding: 30px;
}
.userList {
    background-color: #cfc6c6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#searchInput{
    border: none;
}

.removeBtn{
    background-color: #f53703;;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 80%;
}

.updateBtn  > button{
    background-color: #6bff02;
    font-weight: bold;
    color: #000000;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
}

/* form */

.form-container {
    display: none;
    width: 95%;
    margin: 20px;
    padding: 20px;
    background-color: #52bbeb;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}

.form-group label {
    font-weight: bold;
    font-size: 20px;
    display: block;
    width: 120px; /* Adjust the width as needed */
    float: left; /* Float labels to the left */
    clear: left; 

}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group textarea {
    width: 60%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    display: flex;
    align-items: flex-end;
}

.form-group textarea {
    height: 100px; /* Adjust as needed */
}

.form-group button {
    background-color: #ff6a00;
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 65px;
    font-weight: bolder;
}

.form-group button:hover {
    background-color: #00ff26;
}

#blabtn{
    display: flex;
    justify-content:flex-end;

    
}

